<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <style>
    /* Define your CSS styles here */
  </style>
</head>
<body>
  <h1>Error</h1>
  
  {{#if error}}
    <pre>{{error.stack}}</pre>
  {{/if}}
  
  <p>{{message}}</p>
  
  <script>
    // Define your JavaScript logic here
  </script>
</body>
</html>
